/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */
*{
  box-sizing: border-box;
}

button, input{
  font-size:50px;
  letter-spacing: 3px;
  text-indent: 3%;
  -webkit-text-stroke: 3px #3c5aa6; /* width and color */
  font-family: sans; color: yellow;
  color: #ffcb05;
  font-family: 'Pokemon Solid', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

#parent{
  max-width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

#background{
  position: relative;
  max-width: 100%;
}

#thePokemon{
  display: block;
  position: absolute;
  top: 55%;
  left: 27.5%;
  max-width: 40%;
  transform: translate(-50%, -50%);

}

.hidden{
  filter: brightness(0%);
}

h2, h1{
  font-size: 400%;
  letter-spacing: 3px;
  text-indent: 3%;
  -webkit-text-stroke: 3px #3c5aa6; /* width and color */
  font-family: sans; color: yellow;
  color: #ffcb05;
  font-family: 'Pokemon Solid', sans-serif;
    
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
